.container-1 {
    background-color: #fff;
    border-radius: 8px;
    width: 80%;
}

.linkedin {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #0e76a8;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #0e76a8;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.linkedin:hover {
    background-color: #0e76a8;
    color: #fff;
}

.about-project,
.about-me {
    /* margin-bottom: 30px; */
    padding: 4% 8%;
}