.account-page {
    display: flex;
    padding: 4% 8%;
    background-color: #ffffff;
}


.side-bar {
    flex: 0.5;
}

.side-bar-item {
    margin-bottom: 40px;
    cursor: pointer;
}

.selected {
    color: #00289F;
    font-weight: 500;
}

.selected-info {
    flex: 1.5;
    padding: 0% 2%;
}

.calendar {
    flex: 1;
}

.custom-calendar {
    margin-top: 10px;
    background-color: #e0ecff;
    border-radius: 15px;
    font-size: 16px;
    width: 100% !important;
    height: 90%;
    padding: 10px;
    max-height: 400px !important;
    max-width: 400px !important;

}

.interviews-info {
    overflow-y: auto;
}

.profile-info-item {
    border: 1px solid #c1c1c1;
    border-radius: 20px;
    padding: 5px 25px;
    margin-bottom: 10px;
}

.interview-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #f7f7f7;
    border-radius: 4px;
}

.interview-id {
    font-weight: bold;
}

.interview-time {
    color: #666666;
}

.no-interviews {
    color: #666666;
}

.interview-list {
    list-style-type: none;
    padding: 0;
}