.calendar-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-calendar .react-calendar__tile {
  border-radius: 80px;
  border: 1px solid #dddddd;
  padding: 6px;
  margin-bottom: 4px;
  font-size: 14px;
}

.custom-calendar .react-calendar__tile--active {
  background-color: #00289F!important;
  color: white !important;
}

.selected-date {
  margin-top: 20px;
  font-weight: bold;
}

.custom-time-picker {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
}

.custom-time-picker .react-time-picker__wrapper {
  border: none;
}

.custom-time-picker .react-time-picker__inputGroup__input:focus {
  border-color: #007bff;
  outline: none;
}

.custom-time-picker .react-time-picker__clock {
  margin-top: 10px;
}