@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Commissioner:wght@100..900&display=swap');

.home-section-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 4% 8%;
    background-color: #ffffff;
    color: #001427;
}

.home-section-2 {
    display: flex;
    background-color: #ffffff;
    color: #001427;
    padding: 4% 8%;
}

.section-2-menu{
    max-width: 55vw;
}

.sec-2-imgs{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-top: 5px;
    /* object-fit: cover; */
}

.text-content {
    margin-right: 2%;
    max-width: 700px;
    margin-bottom: 20px;
}

.heading-item {
    margin-bottom: 15px;
    color: #00289F;
    white-space: nowrap;
    overflow: hidden;
    animation: blink 0.7s step-end infinite;
}

.cursor {
    display: inline-block;
    width: 10px;
    color: #00289F;
    animation: blink-animation 0.7s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.button-group {
    display: flex;
    gap: 15px;
}

.image-container img {
    object-fit: cover;
}

.intro-image {
    width: 35vw;
    overflow: hidden;
    object-fit: contain;
    border-radius: 10px
}

.get-started{
    display: flex;
    text-decoration: none;
    align-items: center;
    color: #00289F;
    font-weight: 500;
    cursor: pointer;
}

.get-started:hover{
    color: #00175d;
}

.get-started .material-symbols-outlined {
    transition: transform 0.3s ease; /* Smooth transition for the arrow */
}

.get-started:hover .material-symbols-outlined {
    transform: translateX(5px); /* Move the arrow 5 pixels to the right */
}

.sec-2-img{
    width: 25vw;
    /* height: 90vh; */
    object-fit: contain;
}

.home-section-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    justify-content: center;
    background-color: #ffffff;
    color: #001427;
}

.home-section-5-text {
    width: 50%;
    text-align: center;
}

.HomeSection5-Btn {
    padding: 10%;
    white-space: nowrap;
}

@media only screen and (max-width: 860px) {
    .home-section-1 {
        flex-direction: column;
        text-align: center;
    }

    .text-content {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .intro-image {
        width: 85vw;
        margin: 0 auto;
    }

    .home-section-5-text {
        width: 80%;
    }
    
    .section-2-menu{
        max-width: 80vw;
    }

    .sec-2-img{
        display: none;
    }
}


@media (max-width: 480px) {
    .intro-image {
        width: 85vw;
        justify-content: center;
        margin: 0 auto;
    }

    .home-section-5-text {
        width: 90%;
    }


}